* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #4D533C;
    line-height: 1.6;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}


.header {
    padding: 70px 0;
}

.header__content {
    max-width: 822px;
    margin-left: 0;
}

.header__tittle {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 24px;
    color: #4D533C;
}

.header__notittle {
    color: #D4D6D4;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}



.contact {
    background-image: url('./img/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0 0;
}

.contact__info {
    display: flex;
    gap: 100px;
    margin-bottom: 120px;
    padding-left: 0;
}

.contact__item {
    display: flex;
    flex-direction: column;
}

.contact__label {
    font-size: 16px;
    color: #B6C197;
    margin-bottom: 5px;
}

.contact__value {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}


.footer {
    padding: 60px 0 30px;
    margin-top: 0;
}

.footer__content {
    padding: 0;
}

.footer__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-right: 50px;
    border-top: 1px solid #5D6544;
}

.footer__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}

.footer__list {
    list-style: none;
}

.footer__list li {
    margin-bottom: 10px;
    color: #B6C197;
    font-size: 16px;
}


.footer__footercolumncontact {
    max-width: 270px;
}

.footer__subtitle {
    color: #B6C197;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 10px;
}

.footer__email {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 20px;
}

.footer__socialicons {
    display: flex;
    gap: 15px;
}

.footer__socialicons a img {
    width: 30px;
    height: 30px;
}


.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    border-top: 1px solid #5D6544;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.footer__logo img {
    width: 30px;
    height: 30px;
}

.footer__copyright p {
    color: #B5C096;
    font-size: 14px;
}

.new_class{
    position: absolute;
    left:250px;
    background-color: darkgreen;
}
.body_style{
    background-color: darkgreen;
    color:#276fcf;
        
}
.featere_new{
    background-color: coral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
